* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.hero{
    background-color: #1f2937;
}

.container{
    width: 60%;
    margin: auto;
}

.nav-section{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-text h3{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links ul{
    list-style-type: none;
}

.nav-links ul li{
    list-style-type: none;
    display: inline;
}

.nav-links ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 35px;
}

.hero-section{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 6em;
    /* margin: 6em 0; */
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    width: 40%;
    height: 100%;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button{
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #f9faf8;
    background: #3882f6;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 10px;
    margin-top: 15px;
}

.hero-img{
    width: 50%;
    height: auto;
}

.hero-img img{
    width: 100%;
    height: 70%;
}

.hero{
    padding-bottom: 7rem;
}

.card-section{
    margin-top: 3em;
    text-align: center;
}

.card-section .container{
    width: 55%;
}

.card{
    margin: 3em 0 7em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-title{
    font-size: 36px;
    color: #1f2937;
}

.card-temp{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin: auto;
}

.card-con{
    width: 200px;
}

.card-con p{
    margin-top: 0.5em;
    font-size: 18px;
    color: #1f2937;
}

.quote-section{
    padding: 8em 0;
    background: #e5e7eb;
}

.quote-section .container{
    width: 50%;
}

.quote-txt{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.author{
    float: right;
    font-size: 28px;
    font-weight: 500;
}


.action-section{
    padding: 7em 0;
}

.action-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #3882f6;
    padding: 3.5em 0;
    border-radius: 10px;
}

.action-head{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.action-body{
    font-size: 18px;
    color: #f9faf8;
}

.action-btn a{
    text-decoration: none;
    padding: 10px 35px;
    color: #f9faf8;
    background: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

