* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.hero{
    background-color: #1f2937;
}

.container{
    width: 70%;
    margin: auto;
}

.nav-section{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-text h3{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links ul{
    list-style-type: none;
}

.nav-links ul li{
    list-style-type: none;
    display: inline;
}

.nav-links ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 35px;
}

.hero-section{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 6em;
    /* margin: 6em 0; */
    justify-content: space-between;
}

.hero-text{
    width: 40%;
    height: 100%;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button{
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #f9faf8;
    background: #3882f6;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 15px;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 100%;
    height: 65%;
}

