* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: #1f2937;
}

.container{
    width: 75%;
    margin: auto;
}

.nav-section{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo-text h3{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links ul{
    list-style-type: none;
}

.nav-links ul li{
    list-style-type: none;
    display: inline;
}

.nav-links ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 35px;
}

/* 18px #e5e7eb */